.main-nav {
    padding: 1rem;
    text-align: center;
    border-top: 3px solid yellow;
    border-bottom: 3px solid yellow;
    color: red;
    text-align: right;
    list-style: none;
}

.main-nav a {
    color: red;
    text-decoration: none;
    padding: 0.5rem;
    font-family: 'Arial', Courier, monospace;
}

.main-nav li {
    display: inline;
    margin-right: 15px;
}

#book-list {
    padding: 0 2rem;
}

.book {
    max-width: 700px;
    margin: 20px auto;
}

.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}

.book p {
    padding-left: 20px;
}

.book img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}

#desc {
    grid-column: 1/3;
}

footer {
    text-align: center;
    border-top: 2px solid yellow;
    padding: 1rem
}

@media (min-width: 600px) {
    .main-nav {
        grid-template-columns: 100px 100px 100px;
    }
    .book {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
    .book img {
        grid-row: 2/6;
        grid-column: 2/5;
    }
   .book h2 {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .book p {
        grid-column: 1/2;
        text-align: right;
    }
    .book p:not(#desc) {
        border-right: 2px solid yellow;
    }
    .book img {
        grid-column: 2/4;
    }
    #desc {
        grid-column: 2/4;
    }

}